* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* NAVBAR STYLES */



/* FOOTER */
header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: black 2px solid;
}

a {
  color: grey;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  border: 2px solid black;
  gap: 20px;
}

.socialIcons {
  font-size: 25px;
}

